body {
  margin: 0;
  padding: 120px 0 2rem 0; /* Top padding accounts for sticky controls height */
  font-family: "Lora", serif;
  color: rgb(87, 83, 78); /* stone-600 color */
}

main {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 2rem;
}

@media (max-width: 768px) {
  main {
    padding: 0 1rem;
  }
}
